//http://chir.ag/projects/name-that-color/

$color-white: #fff;
$color-black: #000;
$color-mercury: #E5E5E5;
$color-gray: #939393;
$color-gray2: #828282;
$color-gray3: #7E7E7E;
$color-tundora: #4d4d4d;
$color-carnation: #F67660;
$color-flamingo: #EF5B42;
$color-cinderella: #fee6dc;
$color-alabaster: #F8F8F8;
$color-alabaster2: #FAFAFA;
$color-nobel: #B4B4B4;
$color-alto: #D3D3D3;
$color-alto2: #727272;
$color-athens-gray: #DFE3E9;
$color-manatee: #8E92A4;
$color-dove-gray: #727272;
$color-rose-bud: #F8AB9E;
$color-mine-shaft: #333;
$color-gallery: #F0EFEF;
$color-victoria: #48448C;
$color-minsk: #312C7A;
$color-silver: #C4C4C4;
$color-lavender-gray: #b6b4d1;
$color-de-york: #6FCF97;
$color-shark: #212124;
$color-east-bay: #444184;
$color-porcelain: #F1F3F4;
$color-burnt-sienna: #EB5757;
$color-silver-chalice: #ababab;
