.banner {
  &__link {
    display: block;
    @include my-transition;

    img, svg {
      @media screen and (max-width: 568px) {
        width: 100%;
      }
    }

    &:hover {
      opacity: .7;
    }
  }
}

.banner-mobile {
  display: none;

  @media screen and (max-width : 400px) {
    display: block;
  }

  &__link {
    display: inline-block;
  }
}
