include ../link/link

mixin authors()
    +b.authors&attributes(attributes)
        +e.item Дизайн –&nbsp;
            +link({"title": "Picometer", "href": "https://picometer.ru/"})
        +e.item Разработка и продвижение –&nbsp;
            +link({"title": "ASTEQ", "href": "http://asteq.ru/"})
        +e.item © Поиск профессионалов, 2018.
