.authors {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: $color-tundora;

  @media screen and (max-width: 568px) {
    margin-top: 23px;
  }

  &__item {
    font-size: 12px;
    color: $color-tundora;
    margin-bottom: 2px;

    @media screen and (max-width: 568px) {
      text-align: center;
      font-size: 14px;
      margin-bottom: 0;
    }

    .link {
      font-size: 12px;

      @media screen and (max-width: 568px) {
        font-size: 14px;
      }
    }
  }
}
