.card__box {
  &:first-child {
    .card {
      margin-top: 0;
    }
  }
  &:last-child {
    .card {
      margin-bottom: 0;
    }
  }

  .banner {
    @media screen and (max-width: 568px) {
      display: none;
    }
  }
}

.card {
  background: $color-white;
  box-shadow: 0 0 18px rgba($color-black, 0.13);
  border-radius: 8px;
  padding: 35px 28px;
  margin: 20px 0;

  @media screen and (max-width: 568px) {
    padding: 35px 17px 42px;
    margin-bottom: 37px;
    overflow-x: hidden;
  }

  &__header {
    display: flex;
    margin-bottom: 24px;

    @media screen and (max-width: 568px) {
      margin-bottom: 10px;
      flex-direction: column;
      position: relative;
    }

    .card__col {
      flex-grow: 1;

      @media screen and (max-width: 568px) {
        flex-direction: column;
      }
    }
  }

  &__body {
    margin-bottom: 10px;
  }

  &__col {
    display: flex;
    justify-content: space-between;
  }

  &__photo {
    position: relative;
    width: 115px;
    height: 115px;
    background-size: cover;
    border-radius: 4px;
    margin-right: 24px;

    svg, img {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    @media screen and (max-width: 568px) {
      width: 64px;
      height: 64px;
      margin-right: 0;
      margin-bottom: 12px;
    }
  }

  &__title {
    font-family: "DeeDee", sans-serif;
    font-weight: 700;
    line-height: 24px;
    font-size: 16px;
    color: $color-black;
  }

  &__name {
    margin-bottom: 19px;
    font-family: "DeeDee", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
    color: $color-black;

    @media screen and (max-width: 568px) {
      position: absolute;
      top: 0;
      left: 72px;
      font-size: 18px;
      line-height: 22px;
      word-break: break-word;
    }
  }

  &__text {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    line-height: 23px;
    font-size: 16px;
    color: $color-shark;

    @media screen and (max-width: 568px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__details {
    display: flex;
    margin-bottom: 15px;
  }

  &__detail {
    margin-right: 39px;
    position: relative;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: $color-dove-gray;

    @media screen and (max-width: 568px) {
      font-size: 14px;
      margin-right: 32px;
    }

    &:after {
      position: absolute;
      content: '';
      width: 1px;
      height: 100%;
      right: -17px;
      top: 0;
      background-color: $color-alto;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }

  &__price {
    margin-bottom: 12px;
    font-family: "DeeDee", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #000000;

    span {
      font-size: 24px;
    }
  }

  &__price-mobile {
    display: none;

    @media screen and (max-width: 568px) {
      display: block;
    }

    .button {
      @media screen and (max-width: 568px) {
        width: 100%;
        height: 48px;
        margin-top: 3px;
      }
    }
  }

  &__right {
    //width: 150px;

    .card__price, .card__row {
      text-align: right;

      @media screen and (max-width: 568px) {
        text-align: left;
        display: none;
      }
    }

    .button {
      width: 126px;
      height: 30px;
      padding: 0 20px;
      font-family: "Alegreya Sans", sans-serif;
      font-size: 14px;
    }
  }

  &__gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  &__work {
    position: relative;
  }

  &__works {
    margin-top: 12px;

    @media screen and (max-width: 568px) {
      display: none;
    }

    &--photo, &--video {
      .card__work {
        border: 1px solid #DBDBDB;
        width: 138px;
        height: 138px;
        transition: all .3s;

        img {
          width: 100%;
          height: 100%;
        }

        &:hover {
          opacity: .8;
        }
      }
    }

    &--audio, &--doc {
      margin-bottom: -10px;

      .card__work {
        width: 48.7%;
        margin-right: 20px;
        margin-bottom: 20px;

        &:nth-child(2n) {
          margin-right: 0;
        }

        .control {
          width: 100%;
        }
      }
    }
  }

  &__works-mobile {
    display: none;
    margin-top: 7px;
    margin-bottom: 21px;

    @media screen and (max-width: 568px) {
      display: block;
    }

    .card__gallery--photo, .card__gallery--video {
      flex-wrap: nowrap;
    }

    .card__gallery--audio {
      .card__work, .card__work img {
        width: 100%;
      }

      .card__work {
        display: none;

        &:nth-child(-n+3) {
          display: block;
          margin-bottom: 10px;
        }
      }
    }

    .swiper-slide {
      width: 138px !important;
    }
  }
}
